<% if @over_ten %>
 <%= link_to "Show Previous", "?m=all" %>
<% end %>

<table class="table listingsTable">
  <td>
    <ul class="list-inline listingsInfo">
      <li><a href="#"><img src="<%= @conversation.apartment.photo %>" alt="Image Listings"></a></li>
      <li>
        <h3><%= @conversation.apartment.name %></h3>
        <h5><span class="cityName"><%= @conversation.apartment.city %></span></h5>
      </li>
    </ul>
      <div class="right-btn" style="margin-top: 42px">
        <%= link_to "Go to booking dashboard", bookings_path, class: "btn btn-primary" %>
      </div>
  </td>
</table>

<div class="container">
  <div class="wrapper messages">
    <% @messages.each do |message| %>
      <% if message.body %>
       <% user = User.find(message.user_id) %>
        <%= render 'message', message: message %>
      <% end %>
    <% end %>
    <%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
      <div class="field">
       <%= f.text_area :body, class: "form-control" %>
      </div>
      <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
      <div>
       <%= f.submit "Add Reply", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

