    <!-- HEADER -->
    <header id="pageTop" class="header">

      <!-- TOP INFO BAR -->

      <div class="nav-wrapper <% if @navbar_home.nil? %> navbarWhite <% end %>">
        <!-- NAVBAR -->
        <nav id="menuBar" class="navbar navbar-default <% if @navbar_home %>transparent-navbar <% else %> lightHeader animated <% end %>" role="navigation">
          <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="<%= root_path %>">
                <%= render 'shared/logo.svg' %>
              </a>
            </div>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav navbar-right">

                <% if user_signed_in? %>

                  <li><%= link_to "Host", new_apartment_path if (current_user.profile and current_user.profile.account_type == 2) %></li>
                  <li><%= link_to "Accomodations", apartments_path  %></li>
                  <li><%= link_to "My Profile", profile_path(current_user.profile) if current_user.profile %></li>
                  <li><%= link_to "Messages", conversations_path %></li>
                  <li><%= link_to "About", "#" %></li>
                  <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>

                <% else %>
                  <!-- Login link (when logged out) -->
                  <li><%= link_to "About", "#" %></li>
                <% end %>
              </ul>
            </div>
            <% if !user_signed_in? %><a class="btn btn-default navbar-btn" href="<%= new_user_session_path %>"><span>Login</span></a><%end%>
          </div>
        </nav>
      </div>
    </header>
