<section class="clearfix bg-dark listingSection">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
          <div class="dashboardBoxBg mb30 listing__form">
            <div class="profileIntro paraMargin">
              <h3>I want to host</h3>
              <p>Please enter below the details regarding the place you offer to share. Do not hesitate to specify what you are especting and the rules of the place.</p>
              <%= simple_form_for @apartment do |f| %>
              <div class="row">
                <div class="form-group col-sm-6 col-xs-12">
                  <%= f.input :name, label: 'Name your apartment', error: 'Name is mandatory, please specify one'%>
                </div>
                <div class="form-group col-sm-6 col-xs-12">
                  <%= f.input :description, label: 'Brief description of the place', error: 'description is mandatory, please specify one'%>
                </div>
                <div class="form-group col-sm-6 col-xs-12">
                  <label for="bedrooms">Number of bedrooms</label>
                  <%= f.number_field :bedrooms, label: 'Bedrooms', class: "form-control", error: 'Please specify how many bedrooms'%>
                </div>
                <div class="form-group col-sm-6 col-xs-12">
                  <label for="bathrooms">Number of bathrooms</label>
                  <%= f.number_field :bathrooms, label: 'Bathrooms', class: "form-control", error: 'Please specify how many bathrooms'%>
                </div>
                <div class="form-group col-sm-12">
                  <%= f.input :street, label: 'Street & Number', error: 'Street is mandatory, please specify one'%>
                </div>
                <div class="form-group col-sm-6 col-xs-12">
                  <%= f.input :postal_code, label: 'Postal Code', error: 'Postal code is mandatory, please specify one'%>
                </div>
                <div class="form-group col-sm-6 col-xs-12">
                  <%= f.input :city, label: 'City', error: 'City is mandatory, please specify one'%>
                </div>
                <div class="form-group col-xs-12">
                  <label for="rules">Describe the rules of the place and what you expect from this exchange</label>
                  <%= f.text_area :rules, rows: "5", class: "form-control" %>
                </div>
                <div class="form-group col-xs-12">
                  <%= f.input :photo_cache, as: :hidden %>
                  <%= f.input :photo %>
                </div>
              </div>
              <div class="form-footer text-center">
                <button type="submit" class="btn-submit">Submit</button>
              </div>
              <% end %>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
