<%= form_for(@apartment) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :description%>
  <%= f.text_field :description %>
  <%= f.label :street %>
  <%= f.text_field :street %>
  <%= f.label :city %>
  <%= f.text_field :city %>
  <%= f.label :postal_code %>
  <%= f.text_field :postal_code %>
  <%= f.label :bedrooms %>
  <%= f.number_field :bedrooms %>
  <%= f.label :bathrooms %>
  <%= f.number_field :bathrooms %>
  <%= f.file_field :photo %>
  <%= f.hidden_field :photo_cache, as: :hidden %>
  <%= f.submit %>
<% end %>

<section class="clearfix bg-dark listingSection">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <form action="" method="" class="listing__form">
          <div class="dashboardBoxBg mb30">
            <div class="profileIntro paraMargin">
              <h3>I want to host</h3>
              <p>Please enter below the details regarding the place you offer to share. Do not hesitate to specify what you are especting and the rules of the place.</p>
              <%= simple_form_for @apartment do |f| %>
              <div class="row">
                <div class="form-group col-sm-6 col-xs-12">
                  <%= f.input :name, label: 'Name your apartment', error: 'Name is mandatory, please specify one'%>
                </div>
                <div class="form-group col-sm-6 col-xs-12">
                  <%= f.input :description, label: 'Brief description of the place', error: 'description is mandatory, please specify one'%>
                </div>
                <div class="form-group col-sm-6 col-xs-12">
                  <%= f.number_field :bedrooms, label: 'Bedrooms', class: "form-control", error: 'Please specify how many bedrooms'%>
                </div>
                <div class="form-group col-sm-6 col-xs-12">
                  <%= f.number_field :bathrooms, label: 'Bathrooms', class: "form-control", error: 'Please specify how many bathrooms'%>
                </div>
                <div class="form-group col-xs-12">
                  <label for="discribeTheListing">Discribe the listing</label>
                  <textarea class="form-control" rows="3" placeholder="Discribe the listing"></textarea>
                </div>
              </div>
              <% end %>
            </div>
          </div>
          <div class="dashboardBoxBg mb30">
            <div class="profileIntro paraMargin">
              <h3>Gallery</h3>
              <p>We are not responsible for any damages caused by the use of this website, or by posting business listings here. Please use our site at your own discretion and exercise good judgement as well as common sense when advertising business here.</p>
              <div class="row">
                <div class="form-group col-xs-12">
                  <div class="imageUploader text-center">
                    <div class="file-upload">
                      <div class="upload-area">
                        <input type="file" name="img[]" class="file">
                        <button class="browse" type="button">Click or Drag images here</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-footer text-center">
            <button type="submit" class="btn-submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
