

<% if policy(@booking).create? %>
  <div>
    <%= simple_form_for [@apartment, @booking] do |f| %>
      <%= f.input :start_date, as: :date %>
      <%= f.input :end_date, as: :date %>
      <%= f.button :submit, class: "btn btn-primary"  %>
    <% end %>
  </div>
<% end %>

<!-- LISTINGS DETAILS TITLE SECTION -->
<section class="clearfix paddingAdjustBottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <!-- LISTINGS DETAILS IMAGE SECTION -->
        <div class="clearfix paddingAdjustTopBottom">
          <ul class="">
            <li><img src="<%= @apartment.photo %>" alt="Image Listing" class="img-responsive"></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8">
        <div class="listingTitleArea">
          <h2><%= @apartment.name %></h2>
          <p><%= @apartment.description %></p>
          <div class="listingReview">
            <ul class="list-inline rating">
              <%= raw(@apartment.stars) %>
            </ul>
            <span>( <%= @apartment.reviews.count %> Reviews )</span>
            <ul class="list-inline captionItem">
              <li><i class="fa fa-heart-o" aria-hidden="true"></i> 10 k</li>
            </ul>
            <% if policy(@apartment).edit? %>
              <%= link_to "Edit apartment info", edit_apartment_path(@apartment), class: "btn btn-primary" %>
            <% else %>
              <a href="#reviews" class="btn btn-primary">Write a review</a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- LISTINGS DETAILS INFO SECTION -->
<section class="clearfix paddingAdjustTop">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <div class="clearfix map-sidebar map-right">
          <!--<div id="map" style="position:relative; margin: 0;padding: 0;height: 538px; max-width: none;"></div> -->
        </div>
        <div class="listSidebar owner-details">
          <h3>The Owner</h3>
          <div class="contactInfo">
            <ul class="list-unstyled list-address">
              <li>
                <%= cl_image_tag(@apartment.user.profile.photo, width: 165, height: 165, gravity: :face, crop: :fill) %>
              </li>
              <li>
                <%= @apartment.user.profile.first_name %>
              </li>
              <li>
              <%= link_to "Message me!", conversations_path(user1_id: current_user.id, user2_id: @apartment.user.id, apartment_id: @apartment.id), method: "post", class: "btn btn-primary" %>
              </li>
            </ul>
          </div>
        </div>

      </div>
      <div class="col-sm-8 col-xs-12">
        <div class="listDetailsInfo">
          <div class="detailsInfoBox" id="reviews">
            <h3>Rules and Expectations of the owner</h3>
            <p><%= @apartment.rules %></p>
          </div>
          <div class="detailsInfoBox">
            <h3>Reviews (<%= @apartment.reviews.count %>)</h3>
            <% @apartment&.reviews.each do |review| %>
              <%= render 'review', review: review %>
            <% end %>
          </div>
          <div class="detailsInfoBox">
            <h3>Write A Review </h3>
            <div class="listingReview">
              <span>( <%= @apartment.reviews.count %> Reviews)</span>
              <ul class="list-inline rating rating-review">
                <%= raw(@apartment.stars) %>
              </ul>
            </div>
            <% if policy(@review).create? %>
              <%= simple_form_for [@apartment, @review] do |f| %>

                <div class="formSection formSpace">
                  <div class="form-group">
                    <%= f.radio_button :score, "1"%>
                    <%= f.label :score_1, "1" %>
                    <%= f.radio_button :score, "2"%>
                    <%= f.label :score_2, "2" %>
                    <%= f.radio_button :score, "3"%>
                    <%= f.label :score_3, "3" %>
                    <%= f.radio_button :score, "4"%>
                    <%= f.label :score_4, "4" %>
                    <%= f.radio_button :score, "5"%>
                    <%= f.label :score_5, "5" %>
                  </div>
                  <div class="form-group">
                    <%= f.text_area :text, class: "form-control", rows: "3" %>
                  </div>
                  <div class="form-group mb0">
                    <%= f.submit "Send Review", class: "btn btn-primary" %>
                  </div>
                </div>
                <% end %>
                <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
