<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body>
    <%= render 'shared/navbar_theme' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/javascript' %>
  </body>
</html>
